h1 {
    text-align: center;
}
.results-container { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;

    app-list-item {
        width: 30%;
        max-width: 400px;
        margin: 20px;
    }

    .default-message {
        align-self: center;
        color: #eee;
        font-size: 3rem;
    }
}