.search-container {
    background-color: #C7417B;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        width: 50%;
        height: 50px;
        font-size: 1.5rem;
        border: 0;
        border-radius: 10px;
        padding-left: 8px;
        outline: none;
    }

    button {
        height: 50px;
        width: 120px;
        margin-left: -59px;
        background-color: #1f306e;
        color: #fff;
        box-shadow: none;
        border: 0;
        cursor: pointer;
        border-radius:  0 10px 10px 0;
        font-size: 1rem;
    }
}